<%= turbo_frame_tag task do%>
      <div id="<%= dom_id task %>">
        <p>
          <strong>Name:</strong>
          <%= task.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= task.description %>
        </p>

        <p>
          <strong>Completed:</strong>
          <%= task.completed %>
        </p>
        <% if task.completed %>
          <%= button_to "Not Finished?", completed_path(task), method: :put%>
        <% else %>
          <%= button_to "Completed", completed_path(task), method: :put%>
        <% end%>
          <%= link_to "Edit this task", edit_task_path(task) %> |
          <%= button_to "Destroy this task", task, method: :delete %>
      </div>
<% end %>